* {
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  padding: 5rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  font-size: 5rem;
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  padding: 1rem;
  border: solid 1px black;
  margin: 1rem;
  width: 20rem;
}

input {
  margin: auto;
  margin-bottom: 1.5em;
}

.form-inputs {
  text-align: right;
  width: 60%;
  margin: auto;
}

form {
  background-color :green;
  
  border-radius: 10px;
  margin: auto;
  width: 33%;
  padding: 1em 2em 1em 1em;
  border: 2px solid red;
}

button {
  border-radius: 5px;
  font-size: large;
  font-style: italic ;
  color: red; 
background-color :black;
}

.form-btn {
  padding: 0.5em;
  margin-bottom: 1.5em;
  background-color: hotpink
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
}

body {
  
  background-color:red;
}